@import url('https://fonts.googleapis.com/css2?family=Poppins');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    display: grid;
    height: 100%;
    place-items: center;
}

::-webkit-scrollbar {
    width: 3px;
    border-radius: 25px;
}

::-webkit-scrollbar-tract {
    background: f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ddd;
}

::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

.bot-wrapper {
    width: 315px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-top: 0px;
	margin-right: 10px;
}

.bot-wrapper .bot-title {
    background: #007bff;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    border-bottom: 1px solid #006fe6;
    border-radius: 5px 5px 0 0;
}

.bot {
    height: 60px;
    width: 60px;
    display: block;
    padding: 5px;
    float: left;
}

.bot-text {
    text-align: right;
    line-height: 15px;
    font-size: 11px;
    width: 210px;
    height: 100%;
    padding: 10px;
    display: inline-block;
}

.bot-wrapper .bot-form {
    padding: 15px 10px;
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
}

.bot-wrapper .bot-form .bot-user-inbox {
    justify-content: flex-end;
    margin: 13px 0;
}

.bot-wrapper .bot-form .inbox {
    width: 100%;
    display: flex;
    align-items: baseline;
}

.bot-wrapper .bot-form .inbox .bot-icon {
    height: 40px;
    width: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 18px;
    background: #007bff;
    padding: 10px;
}

.bot-wrapper .bot-form .inbox .bot-msg-header {
    max-width: 53%;
    margin-left: 10px;
}

.bot-form .inbox .bot-msg-header p {
    color: #fff;
    background: #007bff;
    border-radius: 10px;
    padding: 8px 10px;
    font-size: 14px;
}

.bot-wrapper .bot-form .bot-user-inbox .bot-msg-header p {
    color: #333;
    background: #efefef;
}

.bot-wrapper .bot-typing-field {
    display: flex;
    height: 60px;
    width: 100%;
    background: #efefef;
    border-top: 1px solid #d9d9d9;
    border-radius: 0 0 5px 5px;
}

.bot-wrapper .bot-typing-field .bot-input-data {
    height: 40px;
    width: 335px;
    position: relative;
    margin: 10px;
}

.bot-wrapper .bot-typing-field .bot-input-data input {
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid transparent;
    padding: 0 80px 0 15px;
    border-radius: 3px;
    font-size: 15px;
    background: #fff;
    transition: all 0.3s ease;
}

.bot-input-data input::placeholder {
    color: #999999;
}

.bot-input-data input:focus::placeholder {
    color: #bfbfbf;
    transition: all 0.3s ease;
}

.bot-typing-field .bot-input-data input:focus {
    border-color: rgba(0, 123, 255, 0.8);
}

.bot-wrapper .bot-typing-field .bot-input-data button {
    position: absolute;
    right: 5px;
    top: 50%;
    height: 30px;
    width: 65px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    font-size: 16px;
    background: #007bff;
    border: 1px solid #007bff;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.bot-wrapper .bot-typing-field .bot-input-data input:valid~button {
    opacity: 1;
    pointer-events: auto;
}

.bot-typing-field .bot-input-data button:hover {
    background: #006fef;
}