/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/templates/simple-sidebar)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

#wrapper {
    overflow-x: hidden;
    width: 100%;
    margin-top: 20px;
}

#sidebar-wrapper {
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
    border: 1px #efefef solid;
}

#page-content-wrapper {
    min-width: 100vw;
    border: 1px #000 solid;
    margin-left: 10px;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 10px;
        background: #fff !important;
        border-right: none !important;
    }
    #page-content-wrapper {
        min-width: 760px;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.active_page {
    background-color: #6c757d!important;
}


/* to override the existing css for "a" tag */

.list-group .active_page {
    color: #000;
}