.header-bar {
    display: block;
    height: 80px;
    width: 100%;
    padding: 10px 10px;
    border-bottom: 1px #efefef solid;
}

.user-icon {
    height: 60px;
    width: 60px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 18px;
    background: #007bff;
    padding: 10px;
    float: left;
}

.user-header {
    height: 100px;
    width: relative;
    display: block;
    float: left;
    font-size: 16px;
    line-height: 15px;
}

.content-container {
    display: block;
    width: 100%;
}


/* Table of Announcement*/

#AnnounceTable {
    width: 90%;
}

tr,
td,
th {
    border: 1px #000 solid;
    padding: 2px;
    text-align: center;
}




.field-icon {
float: left;
    margin-left: 340px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}




/*Notification Icon*/

/* div.demo-content{box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.20);color:#8d9090;} */
#notification-header {
	/* background: #17eccf; */
	padding: 10px;
	text-align:right;
}
button#notification-icon {
	background: transparent;
	border: 0;
	position:relative;
	cursor:pointer;
}
#imgNotif{
	
	height: 30px;
    width: 30px;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
#notification-count{
	position: absolute;
	left: -40px;
    top: -35px;
	font-size: 0.8em;		
	color: #de5050;
	font-weight:bold;
}
#form-header {
	font-size:1.5em;
}
#frmNotification {
	padding:20px 30px;
}
.form-row{
	padding-bottom:20px;
}
#btn-send {
	background: #258bdc;
	color: #FFF;
	padding: 10px 40px;
	border: 0px;
}
div.demo-content input[type='text'],textarea{
	width: 100%;
	padding: 10px 5px;
}
#notification-latest {
	color: white;
	position: absolute;
	right: 0px;
	background: #17eccf;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.20);		
	max-width: 250px;
	text-align: left;
}
.notification-item {
	padding:10px;
	border-bottom: #3ae2cb 1px solid;
	cursor:pointer;
}
.notification-subject {		
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notification-comment {		
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style:italic;
}


/* module table */

#table-wrapper{
	width:100%;
}
#module_listing{
	width: 90%;
    margin: 0 auto;
    /* border: 1px solid #000; */
    padding: 5px;
    margin-top: 10px;
	overflow:auto;
}

.module_name{
	width:200px;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	list-style-type: none;
}

.module_files{
	width: auto;
    margin-left: 80px;
	font-size:14px;
	line-height: 20px;
	text-decoration:none;
	 list-style-type: none;
}

#add_delete{
	width:100px;
	margin-left:auto;
	margin-right:0
}

.add_file{
	    margin-left: auto;
    margin-right: 0;
    float: right;
    height: 25px;
}
