html,body{
	height:100%;
	overflow:hidden;
	padding:0px;
	margin:0px;
}

#msg-container{
	box-shadow:2px 2px 10px #000000;
	width:100%;
	height: 500px;
	margin:2% auto;
	border-radius:1%;
	overflow:hidden;
}

#menu{
	background:#233070;
	color:white;
	padding:1%;
	font-size:30px;
}

#left-col, #right-col{
	position:relative;
	float:left;
	height:90%;
}
#left-col{
	width:30%;
}
#right-col{
	width:69%;
	border:1px solid #efefef;
}

#left-col-container, right-col-container{
	width:100%;
	height:100%;
	margin: 0 auto;
	overflow:auto;
}


.grey-back{
	border:1px solid black;
	padding:5px;
	background:#efefef;
	margin: 0 auto;
	margin-top:2px;
	overflow:auto;
}
.grey-back a{
	font-size:12px;
}
.image{
	float:left;
	margin-right:5px;
}



#messages-container{
	height: 385px;
	
	overflow:auto;
}
.textarea{
	width:99%;
	height:10%;
	position:absolute;
	bottom:3%;
	margin:0px auto;
}

.grey-message, .white-message{
	border:1px solid black;
	width:96%;
	padding 5px;
	margin:0px auto;
	margin-top:2px;
	overflow:auto;
}

.grey-message{
	background:#efefef;
}
.white-message{
	background:#ffffff;
}

#new-message{
	display:none;
	box-shadow: 2px 2px 30px #000;
	width:500px;
	position:fixed;
	top:20%;
	background:white;
	z-index:2;
	left:50%;
	transform: translate(-50%, 0);
	border-radius:5px;
	overflow:auto;
	
}

.m-header, .m-footer{
	background:#230070;
	margin:0px;
	color:white;
	padding:5px;
}
.m-header{
	font-size:20px;
	text-align:center;
}
.m-body{
	padding:5px;
}
.message-input{
	width:96%;
	
}


#delete_msg{
	display: inline-block;
    
    float: right;
    font-size: 17px;
}



#new_btn{
	background: #efefef;
    box-shadow: 2px 2px 10px #ababab;
    height: 30px;
}