.form-div { 
margin-top: 100px; 
border: 1px solid #e0e0e0; 
}
#profileDisplay { 
display: block; 
height: 200px; 
width: 200px; 
margin: 0px auto; 
border-radius: 50%; }

.img-placeholder {
  width: 200px;
  color: white;
  height: 200px;
  background: black;
  opacity: .7;
  height: 200px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.img-placeholder h5 {
  margin-top: 40%;
  color: white;
}
.img-div:hover .img-placeholder {
  display: block;
  cursor: pointer;
}